<div class="wrapper mb-30">
    <div class="widget-area-23">
        <div class="widget kopa-sync-carousel-widget style1">
            <div class="owl-carousel sync1">
                <div class="item">
                    <article class="entry-item">
                        <div class="entry-thumb">
                            <a href="index7.html#"><img src="{{ asset('bundles/clubblog/images/slider/1.jpg') }}"
                                                        alt=""></a>
                            <div class="thumb-hover"></div>
                        </div>
                        <div class="entry-content">
                            <p><span><b>From THE MARCH 7, 2014</b></span></p>
                            <h4 class="entry-title"><a href="index7.html#">Cup finalists given warm welcome</a></h4>
                            <h5><span><b>Wanger confirms that Germany international ...</b></span></h5>
                        </div>
                        <!-- <span></span>-->
                    </article>
                </div>
                <div class="item">
                    <article class="entry-item">
                        <div class="entry-thumb">
                            <a href="index7.html#"><img src="{{ asset('bundles/clubblog/images/slider/2.jpg') }}"
                                                        alt=""></a>
                            <div class="thumb-hover"></div>
                        </div>
                        <div class="entry-content">
                            <p><span><b>From THE MARCH 7, 2014</b></span></p>
                            <h4 class="entry-title"><a href="index7.html#">Cup finalists given warm welcome</a></h4>
                            <h5><span><b>Wanger confirms that Germany international ...</b></span></h5>
                        </div>
                        <!--<span></span>-->
                    </article>
                </div>
                <div class="item">
                    <article class="entry-item">
                        <div class="entry-thumb">
                            <a href="index7.html#"><img src="{{ asset('bundles/clubblog/images/slider/3.jpg') }}"
                                                        alt=""></a>
                            <div class="thumb-hover"></div>
                        </div>
                        <div class="entry-content">
                            <p><span><b>From THE MARCH 7, 2014</b></span></p>
                            <h4 class="entry-title"><a href="index7.html#">Cup finalists given warm welcome</a></h4>
                            <h5><span><b>Wanger confirms that Germany international ...</b></span></h5>
                        </div>
                        <!--<span></span>-->
                    </article>
                </div>
                <div class="item">
                    <article class="entry-item">
                        <div class="entry-thumb">
                            <a href="index7.html#"><img src="{{ asset('bundles/clubblog/images/slider/4.jpg') }}"
                                                        alt=""></a>
                            <div class="thumb-hover"></div>
                        </div>
                        <div class="entry-content">
                            <p><span><b>From THE MARCH 7, 2014</b></span></p>
                            <h4 class="entry-title"><a href="index7.html#">Cup finalists given warm welcome</a></h4>
                            <h5><span><b>Wanger confirms that Germany international ...</b></span></h5>
                        </div>
                        <!--<span></span>-->
                    </article>
                </div>
                <div class="item">
                    <article class="entry-item">
                        <div class="entry-thumb">
                            <a href="index7.html#"><img src="{{ asset('bundles/clubblog/images/slider/5.jpg') }}"
                                                        alt=""></a>
                            <div class="thumb-hover"></div>
                        </div>
                        <div class="entry-content">
                            <p><span><b>From THE MARCH 7, 2014</b></span></p>
                            <h4 class="entry-title"><a href="index7.html#">Cup finalists given warm welcome</a></h4>
                            <h5><span><b>Wanger confirms that Germany international ...</b></span></h5>
                        </div>
                        <!-- <span></span>-->
                    </article>
                </div>
            </div>
        </div>
        <!-- kopa sync carousel widget -->

    </div>
    <!-- widget-area-1 -->
</div>