{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% set pageTitle = 'Logowanie' %}

{% block pageTitle %}
    {{ pageTitle }} {{ parent() }}
{% endblock %}


{% block fos_user_content %}

    <form class="contact-form clearfix" action="{{ path("fos_user_security_check") }}" method="post"
          novalidate="novalidate">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        <div class="row">
            {% if error %}
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <ul class="kopa-alert alert alert-danger alert-dismissable">
                        <li>{{ error.messageKey|trans(error.messageData, 'security') }}</li>
                    </ul>
                </div>
            {% endif %}
            <div class="col-md-8 col-sm-8 col-xs-8">
                <label for="username" class="input-label">Nazwa użytkownika<span>(*)</span></label>
                <p class="input-block">
                    <input type="text" id="username" name="_username" value="{{ last_username }} "
                           onfocus="if(this.value=='')this.value='';" onblur="if(this
                    .value=='')this.value='';" class="valid">
                </p>
            </div>
        </div>
        <!-- col-md-4 -->
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <label for="password" class="input-label">{{ 'security.login.password'|trans }}<span>(*)</span></label>
                <p class="input-block">
                    <input type="password" onfocus="if(this.value=='')this.value='';"
                           onblur="if(this.value=='')this.value='';" id="password" name="_password" class="valid">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <p class="input-label"> {{ 'security.login.remember_me'|trans }}</p>
                <input class="left-align" type="checkbox" id="remember_me" name="_remember_me" value="on"
                       checked="checked"/>
            </div>

        </div>
        <!-- col-md-4 -->
        <!-- row -->
        <p class="contact-button clearfix">
            <span><input type="submit" value="Zaloguj się" id="submit-contact"></span>
        </p>
    </form>
    <div id="response"></div>


{% endblock fos_user_content %}