{% trans_default_domain 'FOSUserBundle' %}

{% if app.request.get('_route') == 'fos_user_profile_edit' %}
    <div class="widget-area-1" style="margin-top: 50px;">
        <div class="widget ">
            <h3 class="widget-title style12">Zmiana hasła<span class="ttg"></span></h3>
            <ul class="clearfix">
            </ul>
        </div>
    </div>
{% endif %}

<div class="row" id="change_password_current">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {#{{ form_widget(form) }}#}
    {{ form_widget(form) }}
    <div class="col-md-12 col-sm-12 col-xs-12">
    <p class="contact-button clearfix ">
        <span> <input type="submit" class="submit-change" id="submit-contact"
                      value="{{ 'change_password.submit'|trans }}"/></span>
    </p>
</div>
{{ form_end(form) }}
</div>